.fz-bigger {
    font-size: 1.25em;
}

.card-body {
    padding-left: 1rem;
    padding-right: 1rem;
}

.mt-1 {
    margin-top: 1rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.float-right {
    float: right;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    width: calc(25% - 20px);
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

@media only screen and (max-width: 991px) {
    .card {
        width: calc(33.33% - 20px);
    }
}

@media only screen and (max-width: 767px) {
    .card {
        width: calc(100% - 20px);
    }
}